.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  color: gray;
  cursor: pointer;
  transition: all 0.2s;
}

.headerOption__title {
  font-size: 1.2rem;
}

.headerOption__icon {
  object-fit: contain;
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.headerOption:hover {
  color: black;
}
